html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.page {
  margin: 2em;
}
@media only screen and (max-width: 700px) {
  .page {
    margin: 1em;
  }
}
.pageHeader {
  margin: 1em 0;
}
.pageHeader h1 {
  display: inline-block;
  margin: 0 1em 0 0;
}
.pageHeader > div {
  padding: 3px 0;
}
.pageHeader * {
  vertical-align: bottom;
}
@media only screen and (min-width: 701px) {
  .topicList {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
  }
}
.topic.card {
  margin: 1em 0;
}
@media only screen and (min-width: 701px) {
  .topic.card {
    margin: .5em;
    flex: 1 1 0;
    min-width: 300px;
    max-width: 450px;
  }
}
.error {
  color: red;
}
.login.card {
  max-width: 800px;
  margin: 0 auto;
}
